{{#page}}
    <div class="page-header container wide{{#if feature_image }} with-feature-image{{/if}}">
        <div class="hero-wrapper">
            <h1 class="h1 hero-header">{{title}}</h1>
            {{#if custom_excerpt}}
                <p class="sub-heading-large hero-desc">
                    {{{custom_excerpt}}}
                </p>
            {{/if}}
            {{!-- {{#if showCount}}
                <span class="body-1 hero-desc">{{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}} dsfsdsd</span>
            {{/if}} --}}
        </div>
        {{#if feature_image}}
            <div class="media-wrapper">
                <img 
                    src="{{img_url feature_image size="m"}}" 
                    alt="{{title}}
                    ">
            </div>
        {{/if}}
    </div>
{{/page}}