{{!--<div class="theme-option">
    <div class="theme-option-wrap">
        {{#get "posts" include="tags" filter="tag:hash-demo"}}
            {{#foreach posts }}
                <a class="theme-item" href={{#if canonical_url}}{{canonical_url}}{{else}}{{url}}{{/if}} aria-label="{{title}}" target="_blank" rel="noopener noreferrer">
                    <span>{{title}}</span>
                    {{> icons/arrow-right}}
                </a>
            {{/foreach}}
            <a class="button button-primary" href="https://themex.lemonsqueezy.com/checkout/buy/cd8d32bb-ca17-4e48-8f19-9bde7801d83a">Purchase — $89</a>
        {{/get}}
    </div>
</div>--}}



