{{!-- Display Primary Author Social Link --}}
{{#if @custom.show_author_social_links}}
    {{#foreach authors limit="1"}}
        <div class="primary-author-social-links">
            <div class="author-social-links-container">
                {{#if website}}
                    <a class="share-link author-social-item"
                        href="{{website}}" target="_blank" rel="noopener noreferrer" aria-label="Website">
                        {{> icons/link}}
                    </a>
                {{/if}}
                {{#if twitter}}
                    <a class="share-link author-social-item" href="{{social_url type="twitter"}}" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
                {{/if}}
                {{#if facebook}}
                    <a class="share-link author-social-item" href="{{social_url type="facebook"}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
                {{/if}}
                {{#if linkedin}}
                    <a class="share-link author-social-item" href="{{social_url type="linkedin"}}" target="_blank" rel="noopener">{{> "icons/linkedin"}}</a>
                {{/if}}
                {{#if bluesky}}
                    <a class="share-link author-social-item" href="{{social_url type="bluesky"}}" target="_blank" rel="noopener">{{> "icons/bluesky"}}</a>
                {{/if}}
                {{#if threads}}
                    <a class="share-link author-social-item" href="{{social_url type="threads"}}" target="_blank" rel="noopener">{{> "icons/threads"}}</a>
                {{/if}}
                {{#if mastodon}}
                    <a class="share-link author-social-item" href="{{social_url type="mastodon"}}" target="_blank" rel="noopener">{{> "icons/mastodon"}}</a>
                {{/if}}
                {{#if tiktok}}
                    <a class="share-link author-social-item" href="{{social_url type="tiktok"}}" target="_blank" rel="noopener">{{> "icons/tiktok"}}</a>
                {{/if}}
                {{#if youtube}}
                    <a class="share-link author-social-item" href="{{social_url type="youtube"}}" target="_blank" rel="noopener">{{> "icons/youtube"}}</a>
                {{/if}}
                {{#if instagram}}
                    <a class="share-link author-social-item" href="{{social_url type="instagram"}}" target="_blank" rel="noopener">{{> "icons/instagram"}}</a>
                {{/if}}
            </div>
        </div>
    {{/foreach}}
{{else}}
    <div>heererer</div>
{{/if}}
