{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#author}}
            <section class="taxonomy">
                <header class="single-header kg-canvas">
                    {{#if profile_image}}
                        <div class="taxonomy-media u-placeholder square round">
                            <img class="u-object-fit" src="{{img_url profile_image size="s"}}" alt="{{name}}">
                        </div>
                    {{/if}}
                    <div class="tag-wrapper">
                        {{#if website}}
                            <h1 class="single-title">
                                <a href="{{website}}" target="_blank" rel="noopener noreferrer">{{name}}</a>
                            </h1>
                        {{else}}
                            <h1 class="single-title">{{name}}</h1>
                        {{/if}}

                        {{#if location}}
                            <div class="author-meta">{{location}}</div>
                        {{/if}}

                        <div class="single-excerpt">{{bio}}</div>

                        {{> "components/staff-social-link"}}
                    </div>
                </header>
            </section>
        {{/author}}

        <div class="kg-canvas">
            <div class="post-feed gh-feed{{#match @custom.feed_layout "!=" "Minimal"}} expanded{{/match}}{{#match @custom.feed_layout "Right thumbnail"}} right-thumbnail{{/match}}{{#match @custom.feed_layout "Text-only"}} text-only{{/match}}">
                {{#foreach posts}}
                    {{> "loop" noDate=false}}
                {{/foreach}}
            </div>

            {{pagination}}

        </div>
    </main>
</div>

{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#if @site.logo}}{{#if @site.cover_image}} with-alt-header{{/if}}{{/if}}{{/contentFor}}