{{!< default}}

<div class="content-area">
    <main class="site-main" id="main">
        <section class="wrapper">
            <div class="hero-wrapper flow">
                <h1 class="h1 home-hero-header">{{@custom.hero_text}}</h1>
                {{#if @custom.tagline_text}}
                    <p class="body-1 hero-desc">{{@custom.tagline_text}}</p>
                {{else if @site.description}}
                    <p class="body-1 hero-desc">{{@site.description}}</p>
                {{/if}}
            </div>
            </div>
        </section>

        {{#if @custom.personal_project_title}}
            <section class="section-container section-personal-project region">
                <header class="feed-header wrapper">
                    <div class="feed-header-wrapper">
                        <h2 class="section-title feed-header-title">{{@custom.personal_project_title}}</h2>
                    </div>
                </header>
                {{#get "pages" filter="tag:hash-content-personal-project" order="published_at desc"}}
                    <div class="cards kg-grid kg-grid-2col gh-feed wrapper">
                        {{#foreach pages}}
                            {{> "components/card-project" showVisual=true isSmall=true}}
                        {{/foreach}}
                    </div>
                {{/get}}
            </section>
        {{/if}}

        <section class="section-container section-blog region">
            <header class="feed-header wrapper">
                {{#if @custom.feed_title}}
                    <div class="feed-header-wrapper">
                        <h2 class="section-title feed-header-title">{{@custom.feed_title}}</h2>
                    </div>
                {{/if}}
            </header>
            {{#get "posts" limit="10" include="tags"}}
                <div class="post-feed{{#match @custom.feed_layout "!=" "Minimal"}} expanded{{/match}}{{#match @custom.feed_layout "Right thumbnail"}} right-thumbnail{{/match}}{{#match @custom.feed_layout "Text-only"}} text-only{{/match}} gh-feed wrapper">
                    {{#foreach posts}}
                        {{^has tag="#overlays"}}
                        {{> "loop" noDate=false}}
                        {{/has}}
                    {{/foreach}}
                </div>
            {{/get}}
            <div class="wrapper section-blog-footer">
                <a href="/blog/" class="pill-link">
                    <span>{{t 'View all posts' count=pagination.total}}</span>
                    <span aria-hidden="true">→</span>
                </a>
            </div>
        </section>

    </main>
</div>

{{#contentFor "body_class"}}{{#if next}} paged-next{{/if}}{{#if @member}} logged-in{{/if}}{{/contentFor}}

