
<article class="card {{post_class}} {{#if isOverlay}}card-overlay{{/if}}" data-month="{{date format="MMMM YYYY"}}">
    {{#if showVisual}}
        {{#if feature_image}}
            {{#if isSmall}}
                <figure class="card-image small-image">
                    <img
                        srcset="{{img_url feature_image size="s" format="webp"}} 400w"
                        sizes="200px"
                        src="{{img_url feature_image size="s"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    >
                </figure>
            {{else}}
                <figure class="card-image">
                    <img
                        srcset="{{#if isLarge}}{{img_url feature_image size="xl" format="webp"}} 1140w,
                                {{img_url feature_image size="xxl" format="webp"}} 1920w{{else}}{{img_url feature_image size="m" format="webp"}} 750w,
                                {{img_url feature_image size="l" format="webp"}} 960w
                                {{/if}}"
                        sizes="{{#if isLarge}}640px{{else}}410px{{/if}}"
                        src="{{img_url feature_image size="m"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                        loading="lazy"
                    >
                </figure>
            {{/if}}
        {{/if}}
    {{/if}}
    <div class="card-wrapper">
        {{#unless hideTags}}
            {{#unless isPost}}
                {{#match tags.length ">" 1}}
                    <div class="tags-list">
                        {{#foreach tags limit="2"}}
                            <div class="sub-heading tag-item">
                                {{name}}
                            </div>
                        {{/foreach}}
                    </div>
                {{/match}}
            {{/unless}}
        {{/unless}}
        {{#if twitter_description}}    
            <div class="sub-heading card-excerpt">{{twitter_description}}{{#if canonical_url}}{{> "icons/arrow-upright"}}{{/if}}</div>
        {{/if}}
        <h3 class="{{#if isLarge}}h2{{else}}h3{{/if}} card-title">
            {{title}}
        </h3>
        {{#if custom_excerpt}}
            <div class="sub-heading card-excerpt">{{excerpt words="20"}}</div>
        {{/if}}
    </div>
    {{#if canonical_url}}
    <a class="u-permalink" href={{canonical_url}} aria-label="{{title}} (Opens in a new window)" rel="external noopener" target="_blank"></a>
    {{else}}
    <a class="u-permalink" href={{url}} aria-label="{{title}}"></a>
    {{/if}}
</article>
