<article class="speaking-entry {{post_class}}" data-month="{{date format="MMMM YYYY"}}">
    <div class="speaking-meta">
        <time class="speaking-date" datetime="{{date format="YYYY-MM-DD"}}">{{#if excerpt}}{{excerpt}}{{else}}{{date published_at format="MMM YYYY"}}{{/if}}</time>
    </div>
    <div class="speaking-body">
        <div class="speaking-event">{{{content}}}</div>
        <h3 class="speaking-title">{{title}}</h3>
        {{#if canonical_url}}
            <a class="speaking-link" href="{{canonical_url}}" rel="external noopener">
                <span aria-hidden="true">▶</span>
                <span aria-hidden="true">Watch the talk</span>
                <span class="visually-hidden">Watch the talk: {{title}}{{#if excerpt}}, {{excerpt}}{{/if}}</span>
            </a>
        {{/if}}
    </div>
</article>